html
  head
    title=title
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    style
      include ../css/mystyle.css
    style
      include ../css/vis-network.min.css
  body
    p
    div.container
      div.col-sm-12.line.header
        span 
          b #{AppName}
      div#top.col-sm-12.panel
      div#conpanel.col-sm-12
        form#form-conn
          label Host:
            input#host_addr.form-control(type="text", value="127.0.0.1")
          span &nbsp;
          label Port:
            input#port.form-control(type="number", value="9000", min="1")
          span &nbsp;
          span &nbsp;
          a.btn.btn-warning#btn-conn(href="javascript:void(0)") 
            b Connect
          span &nbsp;
          span &nbsp;
          label#status
      div.col-sm-12.line.btn-panel(style="display:none")
        a.btn.btn-primary#reqtop(href="javascript:void(0)") 
          b Get Network Topology
        span &nbsp;
        a.btn.btn-danger#reqread(href="javascript:void(0)") 
          b Request Read
        span &nbsp;
      div.col-sm-12.line.multreadpanel(style="display:none")
        form
          label Number of Rounds:
            input#numreads.form-control(type="number", value="10" name="name", min = "1")
          span &nbsp;
          label Time (in ms):
            input#time.form-control(type="number", value="1500" name="name", min = "1")
          span &nbsp;
        span
          a.btn.btn-success#reqmread(href="javascript:void(0)") 
            b Request Multiple Reads 
    
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")        
  script 
    include ../js/vis.js
  script
    include ../js/sup.js