body{
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
}

div.panel {
    height: 70%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow:hidden;
}

div#top {
    background-color: #e6e6e6;
}

div#read {
    background-color: #a3f3ae;
}

div.container {
    background-color: #d3d3d3;
    border-radius: 5px;
}

div.line {
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    border-radius: 2px;
    font-size: 18px;
}

#btn-conn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
}

.multreadpanel {
    /*border-top: 2px solid #adadad;*/
    background-color: #e6e6e6;
    padding-bottom: 5px;
    padding-top: 3px;
}

div.header {
    font-size: 48px;
    padding-top: 10px;
}