div.panel {
    height: 70%;
    margin-left: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow:hidden;
}

div#top {
    background-color: #e6e6e6;
    border-width: 1px;
    border-color: #555555;
}

div#read {
    background-color: #a3f3ae;
}

div.container {
    background-color: #d3d3d3;
    border-radius: 10px;
}

div.container > div.line {
    margin-bottom: 5px;
    text-align: center;
}

div#readsreq {
    align: left;
}
